.logo-image {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}
.login-container {
  position: relative; /* Make the container a positioning context for absolute positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/th1.jpg'); /* Replace 'path/to/your/background/image.jpg' with the actual path to your background image */
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); /* Black shadow effect */
}

.login-form-container {
  z-index: 1; /* Ensure the form container is on top of the background */
  /* Add any other styles for the form container */
}
/* Add these styles to position the icon */
.icon-input {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px; /* Adjust the left position as needed */
  color: #777; /* Adjust the icon color */
}

.logo-image {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.login-form-container {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  border: 4px solid rgb(21, 65, 146);
  padding: 20px;
  border-radius: 10px;
  background: transparent;
  box-shadow: 0px 3px 15px rgba(78, 58, 81, 4);
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: none; /* Remove border */
  border-bottom: 1px solid #ccc; /* Add a bottom border */
  background-color: transparent; /* Make background transparent */
}

.remember-me {
  display: flex;
  align-items: center;
}

.remember-me label {
  margin-right: 10px;
}

.forgot-password {
  margin-left: auto;
  color: #007bff;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.signup-text {
  margin: 0;
}

.signup-text a {
  color: #007bff;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

/* regissteration */
.custom-card {
  padding: 20px;
  margin-bottom: 20px;
}

.custom-blue {
  color: rgb(41, 139, 196);
}
